/*Uncomment the follwoing lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
*/

/* class for hiding things */
.hidden {display:none;}

body {
	font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: #006aad;
    font-weight:500;
}

/*set default link color to UCSC library link blue*/
.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
    background-color:#0C599B;
}

/*set top menu bar bg color to UCSC blue*/
prm-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar {
	background-color:#11779C;
}

/*set bg color on secondary top/search bar -- UCSC library light blue*/
.bar.alert-bar {
	background-color:#ffcc33;
}

/*set bg color of alert/"sign in" bar to UCSC yellow*/
 md-content, md-content.md-primoExplore-theme {
  	background-color: #eeeeee;border-color: #eeeeee;
  }

/*set body background Color to gray */
prm-login > form > md-dialog-content > md-tabs > md-tabs-content-wrapper > md-tab-content > div > md-content.md-primoExplore-theme {
    background-color:transparent;
}

/*set background of Sign-In form to dark transparent*/
prm-main-menu > div > div > md-content.md-primoExplore-theme {
    background-color:transparent;
}

/*set background of main menu seen after opening elipses to dark transparent*/
prm-brief-result-container .list-item-primary-content::before {
    background-color: #F5F8FA;
}

/*set hover over for selected search results to light blue*/
.list-item-wrapper {
background-color:#FFFFFF;
}

/*set search result list background color to white*/
prm-brief-result-container .md-nav-bar {
  background-color: #FFFFFF;
}

/*set brief results 'send to' options row to white background*/
span[translate="nui.suggestions.tooltip"] {
     display: none;
 }

 /*Hides 'recommend items that are releated to the record' text for the bX recommendations*/
#s-la-widget-9392,
#libchat_d3813658438965a0df80a95fc6312cc4 {
  right: 50px;
  bottom: -2px;
  height: 40px;
  width: 50px;
  position: fixed;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background-color: #EEEEEE;
  z-index: 1000;
}
#libchat_d3813658438965a0df80a95fc6312cc4 {
  height: 80px;
  width: 80px;
  bottom: 5px;
  background-color: transparent;
}
#libchat_d3813658438965a0df80a95fc6312cc4:hover {
  filter: saturate(3);
}
#libchat_d3813658438965a0df80a95fc6312cc4 a {
  display: block;
  border-radius: 10px;
}

/*Styles 'Feedback' button -- created via LibAnswers Primo Feedback form widget*/
.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

/*full record display -- styling provided by ExLibris*/
/*RE-order the Center Sections of the full record display */
#searchWithinJournal { order: 0; }
#getit_link1_0 { order: 1; }
#getit_link1_1 { order: 2; }
#moreFromTheSameCourse { order: 3; }
#links { order: 4; }
#details { order: 5; }
#action_list{ order: 6; }
#virtualBrowse { order: 7; }
#citationTrails { order: 8; }

/*re-order the Left Navigation on the full record display */
[aria-label="Search Inside"] { order: 0 !important; }
[aria-label="View Online"] { order: 1 !important; }
[aria-label="Get It"] { order: 2 !important; }
[aria-label="How to get it"] { order: 3 !important; }
[aria-label="Course"] { order: 4 !important; }
[aria-label="More Links"] { order: 5 !important; }
[aria-label="Related Links"] { order: 6 !important; }
[aria-label="Details"] { order: 7 !important; }
[aria-label="Send To"] { order: 8 !important; }
[aria-label="Virtual Browse"] { order: 9 !important; }
[aria-label="Citations"] { order: 10 !important; }

[icon-definition="earth"] {
  display:none;
}

/*hides earth icon next to language selection*/
prm-change-lang {display:none;}

/*hides language selection*/
div.settings-container > div > md-divider.vertical-divider  {display:none;}

/*hides dividers between my account language and sign in*/
.summary-brief span {overflow: auto; text-overflow: initial;}

/*displays horizontal scroll bar for summary holdings in record display*/
.loan-counter-style {padding-left:50px;}

/*style message above loans list - message html in nui.loans.counter field*/
@media only screen and (max-width: 600px) {
.hide-loan-counter-style-mobile {display:none;}
}

/*hide the item count and circulation desk portion of message above loans list*/
.results-count {display:block !important;}

/*force display of Go to ILL portion of message above loans list*/

/* change color of dda link to match standard link color */
alma-howovp .md-button {
   color: #006aad;
}
alma-howovp a:hover {
   color: #000;
   box-shadow: none;
   background-color: transparent;
}

/* Styles for Haven't Found Box */
#haventFoundBox {
  background-color: #f3f3f3;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.03), 0 5px 5px -3px rgba(0,0,0,.07);
  margin: 10px 0 100px 0;
  box-sizing: border-box;
  -ms-flex-direction: column;
  flex-direction: column;
}
#haventFoundBox img {
  margin: 0px 8px -10px 0px;
}
#haventFoundBox .md-headline {
  text-align: center;
}
#haventFoundBox .md-subheadline {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
#haventFoundBox md-card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
#haventFoundBox md-card-content > div {
  margin: 10px 20px;
}

/* Hide the multi select feature in brief results */
prm-search-result-tool-bar .toolbar-actions,
prm-search-result-tool-bar .main-checkbox,
prm-brief-result-container md-checkbox ._md-container  {
  display: none;
}
prm-brief-result-container .list-item-primary-content.has-checkbox {
  padding-left: 1.5em;
}
prm-brief-result-container .has-checkbox .list-item-count {
  left: 0;
}

/* Style the non-DDA login link buttons */
.non-dda-login-alert {
  display: flex;
  flex-wrap: wrap;
}
.non-dda-login-alert md-tabs {
  flex: 0 0 100%;
  order: 1;
}
.non-dda-login-alert prm-alert-bar,
prm-opac.non-dda-login-alert .layout-column {
  flex: 0 0 100%;
  order: 2;
  margin-top:10px;
}
.non-dda-login-alert .bar.alert-bar {
  background-color: #eee;
  border-color: #eee;
}

/* Highlight Available online facet 
[aria-label="Include Available online selection"] + strong {
  background-color: #ffc107;
} */

/* Available online scope help message */
#scopeLimitationMessage {
  position: relative;
  top: 15px;
  text-align: center;
  color: #fff;
}
#scopeLimitationMessage a {
  color: #fff;
  text-decoration: underline;
}

@media all and (max-width : 590px) {
  #scopeLimitationMessage {
    margin-bottom: 30px;
  }
}

/* Increase size of scope selection dropdown menu to show SC&A */
md-select-menu { 
  max-height: 300px; 
}
md-select-menu md-content {
  max-height: 300px;
}

/* Display public notes on GES in the GetIt tab */
prm-service-button .public-note {
  display: block;
  padding: .3em .35em;
  margin: 0 .25em;
}

/* Hide the "Tweak/Refine my Results" heading, but preserve for screenreaders */
#facets h2.sidebar-title {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* Hide Library Catalog and Articles scopes from basic search 
md-option[value="LibraryCatalog"],
md-option[value="CentralIndex"] {
  display: none;
}
ul.md-autocomplete-suggestions li:nth-child(5),
ul.md-autocomplete-suggestions li:nth-child(6) {
  display: none;
} */

/* Request through Melvyl sidebar */
#melvylRequestBox {
  max-width: 210px;
  background-color: #32579b;
  color: #fff;
  position: fixed;
  top: 500px;
}
#melvylRequestBox a {
  color: #fff;
  font-weight: bold;
}
#melvylRequestBox button {
  border: none;
  padding: 0 2px;
  background-color: #32579b;
  color: #fff;
  right: -10px;
  position: relative;
  top: -18px;
}
#melvylRequestBox button:hover {
   filter: brightness(80%);
}
@media all and (max-width : 1599px) {
  #melvylRequestBox {
    display: none;
  }
}