/* class for hiding things */
.hidden {display:none;}

body {
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*set default link color to UCSC library link blue*/
a {
  color: #006aad;
  font-weight:500;
}

/*set top menu bar bg color to UCSC blue*/
.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar {
  background-color:#0C599B;
}

/*set bg color on secondary top/search bar -- UCSC library light blue*/
prm-search-bar,
prm-journals-search-bar,
prm-browse-search-bar,
prm-tags-search-bar {
	background-color:#11779C;
}

/*set bg color of alert/"sign in" bar to UCSC yellow*/
.bar.alert-bar {
	background-color:#ffcc33;
}

/*set body background Color to gray */
md-content,
md-content.md-primoExplore-theme {
  background-color: #eee;
  border-color: #eee;
}

/*set background of Sign-In form to dark transparent*/
prm-login > form > md-dialog-content > md-tabs > md-tabs-content-wrapper > md-tab-content > div > md-content.md-primoExplore-theme {
  background-color:transparent;
}

/*set background of main menu seen after opening elipses to dark transparent*/
prm-main-menu > div > div > md-content.md-primoExplore-theme {
  background-color:transparent;
}

/*set hover over for selected search results to light blue*/
prm-brief-result-container .list-item-primary-content::before {
  background-color: #F5F8FA;
}

/*set search result list background color to white*/
.list-item-wrapper {
  background-color: #fff;
}

/*set brief results 'send to' options row to white background*/
prm-brief-result-container .md-nav-bar {
  background-color: #fff;
}

 /*Hides 'recommend items that are releated to the record' text for the bX recommendations*/
span[translate="nui.suggestions.tooltip"] {
     display: none;
 }

/* Libchat Ask Us button */
#s-la-widget-9392,
#libchat_d3813658438965a0df80a95fc6312cc4 {
  right: 40px;
  bottom: -2px;
  height: 40px;
  width: 50px;
  position: fixed;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background-color: #EEEEEE;
  z-index: 1000;
}
#libchat_d3813658438965a0df80a95fc6312cc4 {
  height: 80px;
  width: 80px;
  bottom: 5px;
  background-color: transparent;
}
#libchat_d3813658438965a0df80a95fc6312cc4:hover {
  filter: saturate(3);
}
#libchat_d3813658438965a0df80a95fc6312cc4 a {
  display: block;
  border-radius: 10px;
}
@media all and (min-width: 600px) {
  #s-la-widget-9392,
  #libchat_d3813658438965a0df80a95fc6312cc4 {
    right: 80px;
  }
  /* Adjust pager on small screens */
  prm-page-nav-menu #speedDialWidget {
    bottom: 1em;
  }
}

/*full record display -- styling provided by ExLibris*/
.full-view-inner-container {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
}

/*RE-order the Center Sections of the full record display */
#searchWithinJournal { order: 0; }
#getit_link1_0 { order: 1; }
#getit_link1_1 { order: 2; }
#moreFromTheSameCourse { order: 3; }
#moreFromTheSameCollection { order: 4; }
#action_list{ order: 5; }
#details { order: 6; }
#links { order: 7; }
#virtualBrowse { order: 8; }
#citationTrails { order: 9; }

/*re-order the Left Navigation on the full record display */
[aria-label="Search Inside"] { order: 0 !important; }
[aria-label="View Online"] { order: 1 !important; }
[aria-label="Get It"] { order: 2 !important; }
[aria-label="How to get it"] { order: 3 !important; }
[aria-label="Course"] { order: 4 !important; }
[aria-label="Collection"] { order: 5 !important; }
[aria-label="Send To"] { order: 6 !important; }
[aria-label="Details"] { order: 7 !important; }
[aria-label="More Links"] { order: 8 !important; }
[aria-label="Related Links"] { order: 9 !important; }
[aria-label="Virtual Browse"] { order: 10 !important; }
[aria-label="Citations"] { order: 11 !important; }

/*hides earth icon next to language selection*/
[icon-definition="earth"] { display:none; }

/*hides language selection*/
prm-change-lang { display:none; }

/*hides dividers between my account language and sign in*/
div.settings-container > div > md-divider.vertical-divider  {display:none;}

/*displays horizontal scroll bar for summary holdings in record display*/
.summary-brief span {overflow: auto; text-overflow: initial;}

/*style message above loans list - message html in nui.loans.counter field*/
.loan-counter-style {padding-left:50px;}

/*hide the item count and circulation desk portion of message above loans list*/
@media only screen and (max-width: 600px) {
.hide-loan-counter-style-mobile {display:none;}
}

/*force display of Go to ILL portion of message above loans list*/
.results-count {display:block !important;}

/* change color of dda link to match standard link color */
alma-howovp .md-button {
  color: #006aad;
}
alma-howovp a:hover {
  color: #000;
  box-shadow: none;
  background-color: transparent;
}

/* Styles for Haven't Found Box */
#findItBox {
  background-color: #f3f3f3;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.03), 0 5px 5px -3px rgba(0,0,0,.07);
  margin: 10px 0 100px 0;
  box-sizing: border-box;
  -ms-flex-direction: column;
  flex-direction: column;
}
#findItBox .md-headline {
  text-align: center;
}
#findItBox .md-subheadline {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
#findItBox md-card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  color: #555;
}
#findItBox md-card-content > div {
  margin: 10px 20px;
}
#findItBox md-list-item {
  align-items: flex-start;
  margin-bottom: 15px;
  padding-left: 0;
}
#findItBox md-list-item.align-center {
  align-items: center;
}
#findItBox md-list-item > div {
  float: left;
}
#findItBox md-list-item a { font-size: 17px; }
#findItBox md-list-item p { margin: 0 0 .2em; }
#findItBox img {
  margin: 0px 8px -10px 0px;
}
#findItBox a.img:hover,
#findItBox a.img:focus,
#findItBox a.img:active {
  box-shadow: none;
}
@media all and (min-width: 600px) {
  #findItBox md-card-content {
    flex-flow: row nowrap;
  }
}

/* Didn't Find it? sidebar jump button */
#findItButton {
  position: fixed;
  top: 50vh;
  right: -51px;
  transform: rotate(90deg);
  min-height: auto;
  border-radius: 0px;
  background-color: #32579b;
  color: #fff;
  font-weight: bold;
  text-transform: none;
  line-height: 26px;
  z-index: 70;
}
#findItButton:hover {
   background-color: #ddd;
   color: #32579b;
}

/* Hide the multi select feature in brief results */
prm-search-result-tool-bar .toolbar-actions,
prm-search-result-tool-bar .main-checkbox,
prm-brief-result-container md-checkbox {
  display: none;
}
prm-brief-result-container .list-item-primary-content.has-checkbox {
  padding-left: 2em;
}
prm-brief-result-container .has-checkbox .list-item-count {
  left: 0;
}
@media all and (min-width: 600px) {
  prm-brief-result-container .list-item-primary-content.has-checkbox {
    padding-left: 1.5em;
  }
}

/* Give results text some padding on mobile */
.__xs prm-brief-result-container .result-item-text {
  padding-left: 0.5em;
}

/* Style the non-DDA login link buttons */
.non-dda-login-alert {
  display: flex;
  flex-wrap: wrap;
}
.non-dda-login-alert md-tabs {
  flex: 0 0 100%;
  order: 1;
}
.non-dda-login-alert prm-alert-bar,
prm-opac.non-dda-login-alert .layout-column {
  flex: 0 0 100%;
  order: 2;
  margin-top:10px;
}
.non-dda-login-alert .bar.alert-bar {
  background-color: #eee;
  border-color: #eee;
}

/* Increase size of scope selection dropdown menu to show SC&A */
md-select-menu { 
  max-height: 300px; 
}
md-select-menu md-content {
  max-height: 300px;
}

/* Display public notes on GES in the GetIt tab */
prm-service-button .public-note {
  display: block;
  padding: .3em .35em;
  margin: 0 .25em;
}

/* Hide the "Tweak/Refine my Results" heading, but preserve for screenreaders */
#facets h2.sidebar-title {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* Hide Library Catalog and Articles scopes from basic search
   In test, the 6th child is worldcat, enable this */
md-option[value="LibraryCatalog"],
md-option[value="CentralIndex"] {
  display: none;
}
ul.md-autocomplete-suggestions li:nth-child(4) {
  display: none;
}

/* Identify trial databases */
.trial-indicator { margin-top: 8px; }
.trial-indicator img {
  position: relative;
  width: 20px;
  height: 20px;
}
.trial-indicator span {
  position: relative;
  top: -5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

/* Hide unnecessary 'Full Text Availiability' text in the ViewIt tab. */
prm-alma-viewit-items .in-element-dialog-context h4.bold-text {
  display: none;
}
prm-alma-viewit-items h4.ng-scope {
  display: inherit;
}

/* View Main Menu on the services page / openURL page */
prm-main-menu.isServicePage {
  display: block !important;
}

/* UC Library Search Logo */
/* hide the logo on x-small screens */
.uc-library-search-logo {
  display: none;
}
/* no hover effect */
.uc-library-search-logo button {
  background: transparent!important;
}
@media (min-width: 970px) {
  .search-wrapper {
    margin-left: 20%;
  }
  .search-wrapper .flex-lg-10 {
    display: none;
  }
  .search-wrapper .flex-lg-65 {
    max-width: 80%;
  }
  .uc-library-search-logo {
    display: block;
    width: 20%;
    text-align: center;
    top: 30px;
    position: absolute;
  }
  .uc-library-search-logo button {
    margin-top: 0;
  }
  .uc-library-search-logo img {
    width: 70%;
    max-width: 300px;
  }
}
@media (min-width: 1300px) {
  .uc-library-search-logo {
    top: 1.5em;
  }
}

/* External search: worldcat */
div[data-facet-group="External Search"] h3 { display: none; }
#external-search img {
  float: left;
  margin-right: 8px;
}
#external-search a {
  font-weight: bold;
}
#external-search span {
  display: block;
  color: #3a3a3a;
}

/* Info banner in prm-account-overview-after should appear above the account overview */
prm-account-overview {
  display: flex;
  flex-direction: column-reverse;
}
/* Adjust banner to show all content without extra margin */
prm-account-overview .bar {
  height: auto;
}
prm-account-overview .bar ul {
  margin: 0;
}

/* Link in the my account alert bar should look like other button/links */
prm-account-overview .alert-bar .md-button {
  min-width: auto;
  text-transform: none;
  min-height: auto;
  line-height: normal;
}
prm-account-overview .alert-bar .md-button:hover { background-color: #53738c; }
prm-account-overview .alert-bar .md-button:hover a { color: #fff; }

/* Hide Insitutions dropdown and list by default, js will show institutions w activity */
prm-account-overview .institutions-list div:first-child,
prm-account-overview .institutions-list md-list-item,
prm-account-overview .institutions-list prm-icon {
  display: none;
}

/* Style our custom institution list header */
prm-account-overview .institutions-list { margin-top: 0.2em; }
prm-account-overview .main-institution-list { padding-top: 0; }
prm-account-overview .institutions-list h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,.57);
  padding: 12px 0;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 0;
}

/* Visually connect the active institution with the content */
prm-account-overview md-tabs-content-wrapper { background-color: #fff; }
prm-account-overview .institutions-list .is-selected { position: relative; }
prm-account-overview .institutions-list md-list-item.is-selected .institution-name { z-index: 1; }
prm-account-overview .separate-list-items md-list-item { background-color: #f3f3f3; }
prm-account-overview .institutions-list .is-selected:after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  height: 100%;
  width: 1000px;
  z-index: 0;
}

/* Hide the extra ILL link in the Loans display */
prm-account #loansCheckboxId span p:nth-child(2) {
  display: none;
}

/* Center the homepage */
@media (min-width: 1280px) and (max-width: 1919px) {
  prm-static[section="homepage"] + div {
    max-width:  10% !important;
  }
}

/* Hide the Didn't find it box on the My Favorites page */
prm-favorites prm-search-result-list-after {
  display: none;
}

/* Manually alphabetize the UC's in the institution facets */
div[data-facet-group="institution"] .md-chips-wrap {
  display: flex;
  flex-flow: column;
}
div[data-facet-group="institution"] .md-chips-wrap .md-chip { margin-top: .5em; }
div[data-facet-value="institution-6532"] { order:  1; margin-top: 0 !important; } /* Berkeley */
div[data-facet-value="institution-3126"] { order:  2; } /* Davis */
div[data-facet-value="institution-4701"] { order:  3; } /* Irvine */
div[data-facet-value="institution-6533"] { order:  4; } /* Los Angeles */
div[data-facet-value="institution-6534"] { order:  5; } /* Merced */
div[data-facet-value="institution-4706"] { order:  6; } /* Riverside */
div[data-facet-value="institution-6535"] { order:  7; } /* San Diego */
div[data-facet-value="institution-6536"] { order:  8; } /* San Francisco */
div[data-facet-value="institution-3776"] { order:  9; } /* Santa Barbara */
div[data-facet-value="institution-4876"] { order: 10; } /* Santa Cruz */

/* Loan due dates should be black unless soon overdue */
prm-loans-overview p.overdue-line-overview {
    color: #3a3a3a;
}
prm-loans-overview p.overdue-line-overview.prm-warn {
    color: #d62100;
}

/* Ensure the whole "renew all" button displays */
prm-loans-overview button[aria-label="Renew all"] {
  min-width: 120px;
}

/* ILL Loan Renewal Button fixes */
prm-loans .renewable button a {
  display: block;
}
prm-loans .renewable button a:hover,
prm-loans .renewable button a:active,
prm-loans .renewable button a:focus {
  color: #fff;
  text-decoration: none;
}

/* Fix toggle button for expand my results/include ILL */
prm-facet .switch-results .md-button {
  text-align: left;
}
prm-facet .switch-results .md-button md-switch {
  white-space: normal;
  height: auto;
  line-height: 20px;
}
prm-facet .switch-results .md-button md-switch .md-container {
  margin-right: 18px;
}
prm-facet .switch-results .md-button md-switch .md-label { 
  margin-right: 30px;
}

/* Revert the collapsed Advanced Search */
#advancedSearchTabs {
  min-height: 700px;
  overflow: auto;
}
@media (min-width: 600px) {
  #advancedSearchTabs {
    min-height: 400px;
  }
}
.string-block .animate-scale .middle {
  display: none;
}
.collapsed-area .layout-wrap .layout-align-space-between-center .layout-row {
  display: none;
}
prm-advanced-search * > button.collapsed-button * > md-icon {
  display: none;
}
prm-search-bar .advanced-search-wrapper md-input-container.bold-text input.ng-hide:not(.ng-hide-animate) {
  display: block !important;
}

/* Fix institution select on loans page for mobile view */
@media screen and (max-width: 960px) {
  prm-account .md-toolbar-tools {
    justify-content: space-between;
  }

  prm-linked-user-selector md-input-container {
    font-size: 14px;
  }

  prm-linked-user-selector md-select-value span div.md-text {
    display: inline-block !important;
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (max-width: 420px) {
  prm-linked-user-selector md-select-value span div.md-text { max-width: 165px; }
}

/* Citations: make active button more noticeable, w same style as focused button */
prm-citation md-nav-bar.vertical-nav-bar .md-nav-item .md-button.md-active {
  color: #fff;
  background-color: rgba(0,0,0,.87);
}

/* Make the loading spinner more noticeable */
prm-spinner .diamond {
  background-color: #000 !important;
  left: 30px !important;
  width: 1.4em !important;
  height: 1.4em !important;
}

/* Hide GES belonging to other institutions */
prm-alma-other-members prm-request-services {
  display: none;
}

/* Hide Register with other institutions button */
prm-location-items button[aria-label="register"] {
  display: none;
}

/* Style HowToGetIt links same as ViewIt */
alma-howovp .layout-column { align-items: flex-start; }
alma-howovp md-list-item { width: 100%; }
alma-howovp span { color: #3a3a3a; }
alma-howovp span[translate="AlmaResourceSharing"],
alma-howovp span[translate="AlmaPurchaseRequest"] {
  color: rgb(0, 106, 173);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 1.6px;
}
alma-howovp span[translate="AlmaResourceSharing"]:hover,
alma-howovp span[translate="AlmaPurchaseRequest"]:hover,
alma-howovp span[translate="AlmaResourceSharing"]:focus,
alma-howovp span[translate="AlmaPurchaseRequest"]:focus {
  box-shadow: inset 0 -2px 0 0 #53738c;
}

/* Style hover effect on full-page same as modal */
alma-howovp .neutralized-button:focus.md-button,
alma-howovp .neutralized-button:hover.md-button {
  background-color: #e6e6e6;
}
